<div class="nav">您现在的位置：首页 > 个人中心 > 已买到的商品 > 订单详情</div>

<!--订单信息表-->
<div class="p-table">
  <div class="col col-id">
    <div class="col-label">编号</div>
    <div class="col-content">1532523625455</div>
  </div>
  <div class="col col-info">
    <div class="col-label">商品信息</div>
    <div class="col-content">【剑神 角色等级90 男 身份证已设置 QQ等级0级 有Q..</div>
  </div>
  <div class="col col-status">
    <div class="col-label">状态</div>
    <div class="col-content">交易完成</div>
  </div>
  <div class="col col-price">
    <div class="col-label">价格</div>
    <div class="col-content">￥1200.00</div>
  </div>
  <div class="col col-qt">
    <div class="col-label">数量</div>
    <div class="col-content">1</div>
  </div>
  <div class="col col-service">
    <div class="col-label">接手客服</div>
    <div class="col-content">
      <p>客服昵称：小安</p>
      <p class="contact">联系客服</p>
    </div>
  </div>
</div>

<!--交易状态-->
<div class="trade-status">
  <div class="ts-top">
    <img src="/assets/icons/waiting.png">
    <h3>您好，此账号正在交易中，请您耐心等待</h3>
  </div>

  <div class="ts-content">
    <p>为您服务的客服：账号小安</p>
    <p>客服QQ：222222222【点击联系客服】</p>
    <p>工作时间：08:00-22:00</p>
    <p class="notice">温馨提示：请您打开客服QQ，复制订单信息发送</p>
  </div>
</div>

<!--订单信息-->
<div class="order-detail">
  <div class="label">
    <h3>订单信息</h3>
  </div>
  <div class="od-content">
    <p>订单金额：￥1200.00</p>
    <p>订单编号：1532523625455【点击复制编号】</p>
    <p>商品名称：【剑神 角色等级90 男 身份证已</p>
    <p>商品数量：1</p>
  </div>
</div>

<!--订单物流跟踪-->
<div class="order-delivery">
  <div class="label">
    <h3>订单跟踪</h3>
  </div>
  <div class="od-content">
    <div>
      <span class="time">2017.09.20  11:50:15</span>
      <span class="text">创建购买订单，填写联系方式</span>
    </div>
    <div>
      <span class="time">2017.09.20  11:50:15</span>
      <span class="text">完成支付订单，等待客服发货</span>
    </div>
    <div>
      <span class="time">2017.09.20  11:50:15</span>
      <span class="text">客服发送账号资料</span>
    </div>
    <div class="done">
      <span class="time">2017.09.20  11:50:15</span>
      <span class="text">已确认收货，订单完成</span>
    </div>
  </div>
</div>