<div class="personl_cn">
    <div class="percn_block">
        <div class="per_money flex">
            <div class="perm_total">
                总资产
                <p><b>1200.00</b>充值</p>
            </div>
            <div class="perm_infor">
                <p>可用余额：<b>1200.00</b></p>
                <p>冻结金额：<span>0.00</span></p>
                <p>可提现金额：<span>1200.00</span></p>
            </div>
            <button class="btn perm_get">提 现</button>
        </div>
        <div class="per_site">
            <span>本次登录地点：衢州</span>
            <span>本次登录地点：衢州</span>
        </div>
    </div>
    <div class="percn_block">
        <h2 class="perrg_b_tit flex">
            <div>
                <span>已买到的商品</span>
                <i><a>等待支付</a><a class="clickable">支付成功（1）</a><a>交易成功</a><a>交易失败</a></i>
            </div>
            <b>更多</b>
        </h2>
        <div class="per_order">
            <div class="per_order_tit flex">
                <div>
                    <span>游戏帐号</span>
                    <b >订单编号：201706271054</b>
                    <b>2017-06-27&nbsp;&nbsp;18:21</b>
                </div>
                <div class="">
                    <a class="clickable">联系卖家</a>
                    <i class="share"></i>
                </div>
            </div>
            <div class="per_order_item">
                <div class="peror_infor">
                    <img src="/assets/images/img_06.png" alt="">
                    <span>国区第一妙法 三套顶级神装 含刷图套及PK套</span>
                </div>
                <div class="peror_price">
                    ￥1200.00
                </div>
                <div class="peror_state  yellow ">
                待签收
                </div>
                <div class="peror_look">
                    <p>订单详情</p>
                    <p>查看物流</p>
                </div>
            </div>
        </div>
        <div class="per_order">
            <div class="per_order_tit flex">
                <div>
                    <span>游戏帐号</span>
                    <b >订单编号：201706271054</b>
                    <b>2017-06-27&nbsp;&nbsp;18:21</b>
                </div>
                <div class="">
                    <a class="clickable">联系卖家</a>
                    <i class="share"></i>
                </div>
            </div>
            <div class="per_order_item">
                <div class="peror_infor">
                    <img src="/assets/images/img_06.png" alt="">
                    <span>国区第一妙法 三套顶级神装 含刷图套及PK套</span>
                </div>
                <div class="peror_price">
                    ￥1200.00
                </div>
                <div class="peror_state  yellow ">
                已完成
                </div>
                <div class="peror_look">
                    <p>订单详情</p>
                    <p>查看物流</p>
                </div>
            </div>
        </div>
    </div>
    <div class="percn_block">
        <h2 class="perrg_b_tit flex">
            <div>
                <span>已出售的商品</span>
                <i><a  class="clickable">等待支付（3）</a><a class="clickable">支付成功（1）</a><a>交易成功</a><a>交易失败</a></i>
            </div>
            <b>更多</b>
        </h2>
        <div class="per_order">
            <div class="per_order_tit flex">
                <div>
                    <span>游戏帐号</span>
                    <b >订单编号：201706271054</b>
                    <b>2017-06-27&nbsp;&nbsp;18:21</b>
                </div>
                <div class="">
                    <a class="clickable">联系买家</a>
                    <i class="share"></i>
                </div>
            </div>
            <div class="per_order_item">
                <div class="peror_infor">
                    <img src="/assets/images/img_06.png" alt="">
                    <span>国区第一妙法 三套顶级神装 含刷图套及PK套</span>
                </div>
                <div class="peror_price">
                    ￥1200.00
                </div>
                <div class="peror_state  yellow ">
                    待签收
                </div>
                <div class="peror_look">
                    <p>订单详情</p>
                    <p>查看物流</p>
                </div>
            </div>
        </div>
        <div class="per_order">
            <div class="per_order_tit flex">
                <div>
                    <span>游戏帐号</span>
                    <b >订单编号：201706271054</b>
                    <b>2017-06-27&nbsp;&nbsp;18:21</b>
                </div>
                <div class="">
                    <a class="clickable">联系卖家</a>
                    <i class="share"></i>
                </div>
            </div>
            <div class="per_order_item">
                <div class="peror_infor">
                    <img src="/assets/images/img_06.png" alt="">
                    <span>国区第一妙法 三套顶级神装 含刷图套及PK套</span>
                </div>
                <div class="peror_price">
                    ￥1200.00
                </div>
                <div class="peror_state  yellow ">
                    已完成
                </div>
                <div class="peror_look">
                    <p>订单详情</p>
                    <p>查看物流</p>
                </div>
            </div>
        </div>
    </div>
    <div class="percn_block">
        <h2 class="perrg_b_tit flex">
            <div>
                <span>关注的商品</span>
            </div>
            <b>更多</b>
        </h2>
        <div class="per_atten flex">
            <div class="per_atten_item" *ngFor="let p of [1,2,3,4]">
                <img src="/assets/images/img_07.png"/>
                <h6 class="atten_h6">【帐号】国区神装天罡帐 ...</h6>
                <p><b>￥1200.00</b></p>
                <p><span>降价￥20</span></p>
            </div>
        </div>
    </div>
    <div class="percn_block">
        <h2 class="perrg_b_tit flex">
            <div>
                <span>猜你喜欢</span>
            </div>
            <b class="batch"> 换一批</b>
        </h2>
        <div class="pera_scroll">
            <div class="per_atten flex">
                <div class="per_atten_item" *ngFor="let p of [1,2,3,4]">
                    <img src="/assets/images/img_07.png"/>
                    <p class="like_price"><b>￥1200.00</b><i>￥1200</i></p>
                    <h6>【帐号】国区神装天罡帐 ...</h6>
                    <div class="per_att_bot flex">
                        <span>关注</span>
                        <button class="btn">了解详情</button>
                    </div>
                </div>
            </div>
            <ul class="scroll_down">
                <li class="on"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
    <div class="per_news flex">
        <div class="perns_list">
            <h2 class="perrg_b_tit flex">
                <div>
                    <span>最新资讯</span>
                </div>
                <b>更多</b>
            </h2>
            <div class="index_news_det perns_list">
                <h4 class="comm_dian">
                    全明星之夏7月热力进击，龙图粉丝节多重豪礼粉丝节多重豪礼礼粉丝节多重豪礼
                </h4>
                <ul class="i_list_data">
                    <li><a href="javascript:;" class="flex"><span class="comm_dian ">【攻略】 卧虎藏龙贰手游50-59级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li><a href="javascript:;" class="flex"><span class="comm_dian ">【攻略】 卧虎藏龙贰手游50-59级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li><a href="javascript:;" class="flex"><span class="comm_dian "> 【攻略】 卧虎藏龙贰手游50-59级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li><a href="javascript:;" class="flex"><span class="comm_dian "> 【攻略】 卧虎藏龙贰手游50-59级快速升级攻略9级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                </ul>
            </div>
        </div>
        <div class="perns_img">
            <div class="perns_img_item">
                <img src="/assets/images/img_08.png"/>
                <p>内测开启</p>
            </div>
            <ul class="scroll_down">
                <li class="on"></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
<div class="personl_rg">
    <div class="perrg_block">
        <h2 class="perrg_b_tit flex">
            <span>平台公告</span>
            <b>更多</b>
        </h2>
        <ul class="per_notice">
            <li class="flex"><span >教你识别骗子卖家</span><b>06/16</b></li>
            <li class="flex"><span >教你识别骗子卖家</span><b>06/16</b></li>
            <li class="flex"><span >教你识别骗子卖家你识别骗子卖家</span><b>06/16</b></li>
            <li class="flex"><span >教你识别骗子卖家</span><b>06/16</b></li>
            <li class="flex"><span >教你识别骗子卖家</span><b>06/16</b></li>
            <li class="flex"><span >教你识别骗子卖家你识别骗子卖家</span><b>06/16</b></li>
        </ul>
    </div>
    <div class="perrg_block">
        <h2 class="perrg_b_tit flex">
            <span>安全验证</span>
            <b>更多</b>
        </h2>
        <ul class="per_safety">
            <li class="persf_s1">
            <span>客服验证</span>
                <p>验证真假客服QQ</p>
            </li>
            <li class="persf_s2">
                <span>网址验证</span>
                <p>验证真假网址</p>
            </li>
            <li class="persf_s3">
                <span>邮箱验证</span>
                <p>验证真假客服邮箱</p>
            </li>
            <li class="persf_s4">
                <span>电话验证</span>
                <p>验证真假客服电话</p>
            </li>

        </ul>
    </div>
    <div class="perrg_block">
        <h2 class="perrg_b_tit flex">
            <span>安全指南</span>
            <b>更多</b>
        </h2>
        <ul class="per_notice">
            <li>教你识别骗子卖家</li>
            <li>教你识别骗子卖家</li>
            <li>教你识别骗子卖家你识别骗子卖家</li>
            <li>教你识别骗子卖家</li>
            <li>教你识别骗子卖家</li>
            <li>教你识别骗子卖家你识别骗子卖家</li>
        </ul>
    </div>
</div>