.personal-wrap {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    padding-bottom: 30px;
    .content {
        display: flex;
    }
}

.personl_lt,.personl_rg{
    margin-top: 40px;
}
.per_h,.per_u,.perrg_block{
    border-bottom: 1px solid #ffba00;
}
.per_h,.per_ul{
    width: 200px;
    text-align: center;
}
.per_h{
    padding-bottom: 30px;
}
.per_img img{
    width: 100px;
    height: 100px;
    border-radius:50px;
    border: 1px solid #e8ca9c;
}
.per_h p{
    font-size: 16px;
    color: #333;
}
.per_h span{
    font-size: 12px;
    color: #666;
    display: inline-block;
    margin: 6px 0 10px;
}
.per_h h6{
    font-size: 14px;
    color: #333;
}
.per_h h6 b{
    color: #ff2d26;
}
.per_ul{
    padding: 10px 0;
}
.per_ul ul{
    width: 122px;
    border-bottom: 1px solid #ececec;
    padding: 10px 0;
    margin: 0 auto;
}
.per_ul ul:last-child {
    border-bottom: none;
} 
.per_ul ul li {
    padding: 5px 0;
    cursor: pointer;

    &.divider {
        padding: 0;
        margin: 5px 0;
        height: 1px;
        background-color: #ececec;
    }

    a {
        font-size: 14px;
        color: #666;
    }
    a.current {
        color: #ffba00;
    }
}




