<div class="bottom flex">
    <div class="header_left">
        <div class="logo f_l">
            <img src="/assets/logo.png"/>
        </div>
        <div class="header_left_line f_l"></div>
        <div class="header_left_hot f_l">
            <img src="/assets/images/img_01.png"/>
        </div>
    </div>
    <div class="bot_right">
        <div class="bot_menu">
            <a href="javascript:;">关于我们</a>
            <a href="javascript:;">联系我们</a>
            <a href="javascript:;">免责声明</a>
            <a href="javascript:;">家长监控</a>
            <a href="javascript:;">商户合作</a>
            <a href="javascript:;">建议反馈</a>
        </div>
        <div class="bot_text flex">
            <b>浙江桔子科技网络有限公司</b>
            <b>联系方式:0570-12345678</b>
            <b>邮箱:jzwl@123.com</b>
            <b>公司地址:浙江省衢州市柯城区花园东大道258号</b>
        </div>
        <div class="bot_text bot_text_p ">
            <b>网络文化经营许可证:浙网文[2017]0000-000号</b>
            <b>增值电信业务经营许可证:浙B0-20170000</b>
            <b>公网安备00000000000000号</b>
        </div>
        <div class="bot_text bot_text_p ">
            <b>Copyright  2017-2018 jzkj. All rights reseved.浙江桔子网络科技有限公司</b>
            <b>浙ICP备00000000号</b>
        </div>
        <div class="bot_img flex">
            <img src="/assets/images/bot_01.png"/>
            <img src="/assets/images/bot_02.png"/>
            <img src="/assets/images/bot_03.png"/>
            <img src="/assets/images/bot_04.png"/>
            <img src="/assets/images/bot_05.png"/>
            <img src="/assets/images/bot_06.png"/>
            <img src="/assets/images/bot_07.png"/>
        </div>
    </div>
</div>