.infor_alert{
    padding: 20px;
    background: #f2f2f2;
    position: relative;
}
.infor_alert h5{
    font-size: 12px;
    color: #ff2d26;
    padding-bottom: 5px;
}
.infor_alert ul li{
    font-size: 12px;
    color: #222;
    padding: 5px 0;
}
.detele{
    width: 11px;
    height: 11px;
    background: url("/assets/images/ionic.png") no-repeat -186px -20px;
    display: inline-block;
    cursor: pointer;
}
.infor_alert .detele{
    position: absolute;
    top:20px;
    right: 20px;
    z-index: 5;
}
.info-label {
    font-size: 26px;
    color: #f0bd76;
    font-weight: bold;
    font-family:'Microsoft YaHei';
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
        margin: 0 30px;
    }

    .left, .right {
        width: 8px;
        height: 8px;
        border: 2px solid #f0bd76;
        transform: rotate(45deg);
    }
}

.info-label + p{
    font-size: 14px;
    color: #999;
    margin: -15px 0 40px;
    text-align: center;
}

.acc_infor{
    margin-top: 60px;
}
.infor_ipt li{
    padding: 10px 0;
}
.infor_ipt li span{
    width: 95px;
    font-size: 14px;
    color: #333;
    display: inline-block;
    text-align: right;
    margin-right: 18px;
}
.infor_ipt li span i{
    color: #ff2d26;
}
.infor_ipt li input,.infor_ipt li select{
    width: 250px;
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e4e2e5;
    margin-right: 20px;
    color: #333;
}
.infor_ipt li b,.infor_ipt li i{
    font-size: 12px;
    color: #999;
}
.infor_ipt li.acc_time select{
    width: 95px;
}
.info-choose {
    width: 100%;
    height: 60px;
    background: #f2f2f2;
    font-size: 16px;
    color: #103e56;
    display: flex;
    align-items: center;
    font-family:'Microsoft YaHei';
    transition: all .3s;

    &.fixed {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 5;
    }
}

/*商品信息*/
.pro_find a{
    width: 224px;
    height: 40px;
    border: 1px solid #cccccc;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    margin-right: 20px;
}
.pro_find a.on{
    background: #ffba00;
    color: #fff;
    border: 1px solid #ffba00;
}
.infor_ipt .pro_inf_tit input{
    width: 475px;
}
.infor_ipt li textarea{
    width: 475px;
    height: 165px;
    border: 1px solid #e4e2e5;
    overflow: auto;
    resize: none;
    padding: 10px;
    font-family:'Microsoft YaHei';
    font-size: 14px;
}
.infor_ipt .pro_text span{
    float: left;
    margin-top: 14px;
}
.pro_warn p{
    font-size: 14px;
    color: #ff2d26;
    margin-left: 114px;
}
.infor_ipt a.pro_a{
    font-size: 14px;
    padding-left: 50px;
}

/*上传图片*/
.upload{
    width: 176px;
    height: 176px;
    border: 1px solid #cccccc;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
        border: 0;
        position: absolute;
        left: 0;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .thumb {
        width: 50px;
        height: 50px;
        background-image: url("/assets/images/add_photo.png");
        background-size: 100% 100%;
        margin-bottom: 10px;
    }

    span {
        font-size: 14px;
        color: #999;
    }
}


.card_exam {
    margin:0 40px 0 20px;
    float: left;
}
.card_exam  p{
    color: #999;
    font-size: 14px;
}
.acc_prot{
    margin: 55px 0 100px;
}


.pro_photo .upload,.pro_photo .upload input{
    width: 154px;
    height: 154px;
}
