<app-header></app-header>

<div class="personal-wrap">
    <div class="content">
        <div class="personl_lt">
            <div class="per_h">
                <div class="per_img">`
                    <img src="/assets/images/img_05.png" />
                </div>
                <p>无崖子</p>
                <span>
                    <img src="/assets/images/per_ic.png" />
                    普通会员
                </span>
                <h6>帐号安全：<b>未实名认证</b></h6>
            </div>
            <div class="per_ul">
                <ul >
                    <li *ngFor="let menu of menus" [class.divider]="menu.text === 'divider'">
                        <a [routerLink]="menu.path" 
                            *ngIf="menu.path"
                            [routerLinkActiveOptions]="{exact: true}"
                            routerLinkActive="current">{{ menu.text }}</a>
                        <a *ngIf="!menu.path && menu.text !== 'divider'" (click)="logout()">{{ menu.text }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer></app-footer>