<div class="gd-wrap">
  <!--当前位置-->
  <div class="currency current">您现在的位置：首页 > 我要买 > 14衣服+9弓外送51级小炮镖飞 51级狂战手动搬砖号卖等级钱</div>

  <!--商品展示-->
  <div class="shopshow currency">
      <ul class="showimg"><img src="http://www.jzhlsc.cn/design/wgg/t1.jpg" alt="img" width="400" height="400"></ul>
      <ul class="showtext">
          <h1 >14衣服+9弓外送51级小炮镖飞 51级狂战手动搬砖号卖等级钱</h1>
          <h2 >【身份证未设置 QQ等级1~5级 无QQ好友 狂战士 男 角色等级51 】</h2>
          <li >商品价格：<b>¥1800.00</b></li>
          <li >商品类型：装备</li>
          <li >商品编号：CN20170919141345-43584<span>【复制编号】</span></li>
          <li >游戏区服：诛仙3/钧天战区/浩渺无极</li>
          <li class="flextitle"><p>商品库存：3</p><p>剩余天数：29天</p><p>方便交易：全天</p><p></p><p></p><p></p></li>
          <dl >
              <dt>诚信保障：</dt>
              <dd ><span class="yellow">保</span>安全保障</dd>
              <dd ><span class="red">寄</span>寄售交易</dd>
              <dd ><span class="green">担</span>担保交易</dd>
              <dd ><span class="orange">赔</span>找回包赔</dd>
              <dd ><span class="blue">证</span>证件认证</dd>
          </dl>
          <button (click)="buyNow()">立即购买</button>
      </ul>
      <ul> 
          <li class="headimg"><img src="http://www.jzhlsc.cn/design/wgg/t2.jpg"></li>
          <li class="Star">卖家信誉：<img src="/assets/images/zuan1.jpg"><img src="/assets/images/zuan2.jpg"></li>
          <li class="data">
              <p>成交订单：<b>138412笔</b></p>
              <p>取消订单：<b>2362笔</b></p>
              <p>成交概率： <b>98%</b></p>
          </li>
      </ul>
  </div>

  <!--官方审核-->
  <div class="currency shenhe">
      <ul>易易官方审核</ul>
  </div>
</div>