/*个人中心页面都有的*/
.personal_chang{
    width: 965px;
}
.per_subclass .perrg_b_tit span{
    font-size: 16px;
}
.personl_lt,.personal_chang{
    margin-top: 40px;
}
.per_h,.per_u,.perrg_block{
    border-bottom: 1px solid #ffba00;
}
.per_h,.per_ul{
    width: 200px;
    text-align: center;
}
.per_h{
    padding-bottom: 30px;
}
.head_portr{
    width: 100px;
    height: 100px;
    border-radius:50px;
    border: 1px solid #e8ca9c;
}
.per_h p{
    font-size: 16px;
    color: #333;
}
.per_h span{
    font-size: 12px;
    color: #666;
    display: inline-block;
    margin: 6px 0 10px;
}
.per_h h6{
    font-size: 14px;
    color: #333;
}
.per_h h6 b{
    color: #ff2d26;
}
.per_ul{
    padding: 10px 0;
    border-bottom: 1px solid #ffba00;
}
.per_ul ul{
    width: 122px;
    border-bottom: 1px solid #ececec;
    padding: 10px 0;
    margin: 0 auto;
}
.per_ul ul:last-child{
    border-bottom: none;
}
.per_ul ul li{
    font-size: 14px;
    color: #666;
    padding: 5px 0;
    cursor: pointer;
}
.per_ul ul li.current{
    color: #ffba00;
}

.perrg_b_tit span:before{
    content: "";
    width: 4px;
    height: 14px;
    background: #ffba00;
    display: inline-block;
    margin-right: 8px;
}
.perrg_b_tit{
    border-bottom: 1px solid #ececec;
    padding-bottom: 14px;
    margin-bottom: 30px;
}
.perrg_b_tit span{
    font-size: 14px;
    color: #333;
}
.perrg_b_tit b{
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
.perrg_b_tit b:after{
    content: "";
    width: 5px;
    height: 10px;
    background: url("/assets/images/ionic.png") -206px -20px;
    display: inline-block;
    margin-left: 10px;
}
.perrg_b_tit .batch:after{
    width: 0;
    height: 0;
}
.perrg_b_tit .batch:before{
    content: "";
    width: 11px;
    height: 11px;
    background: url("/assets/images/ionic.png") -254px -19px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 3px 0;
}
.per_subclass{
    width: 960px;
    min-height: 760px;
    margin-top: 40px;
}

.per_btn{
    background: #ffba00;
    color: #fff;
    font-size: 12px;
    text-align: center;
    border: 1px solid  #ffba00;
}
/*个人中心的个人信息*/
.per_infor{
    margin-left: 240px;
}
.per_infor ul li{
    padding: 15px 0;
    overflow: hidden;
}
.per_infor ul li span{
    width: 68px;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    color: #333;
    float: left;
    margin-right: 30px;
}
.perif_rg{
    float: left;
}
.per_infor .perif_text input{
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #cccccc;
    padding: 0 10px;
}
.upload_tip{
    float: left;
    padding-top: 30px;
}
.upload_tip  .per_btn{
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius:3px ;
    font-size: 14px;
    float: left;
    margin: 0 20px 0 30px;
    position: relative;
}
.upload_tip .per_btn input{
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}
.upload_tip p{
    font-size: 12px;
    color: #999;
    float: left;
    line-height: 20px;
}
.all_save{
    width: 200px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    margin: 0 auto;
}
.per_infor .pefof_save {
    margin-top: 45px;
    margin-left: 135px;
}
.perif_rg label {
    float: left;
    margin-right: 38px;
    cursor: pointer;

    input{
        width:14px;
        height: 14px;
        display: none;
    }

    input:checked + .round_box {
        background: url("/assets/images/ionic.png") -123px -57px;
        border: none;
    }
}
.perif_rg .round_box{
    width: 14px;
    height: 14px;
    border-radius: 50px;
    border: 1px solid #cecece;
    float: left;
    vertical-align: middle;
    margin:5px 10px 0 0;
}
