$main-color: green;
$seconday-color: red;


// text
$gray-text: #999999;
$dark-text: #646464;
$yellow-text: #f0bd76;

//background
$yellow-bg: #ffba00;
$gray-bg: #f2f2f2;


//border
$gray-border: #e4e2e5;
