<!--login start-->
<!--<div class="login_black"></div>-->
<!--<div class="login_box">-->
    <!--<ul>×</ul>-->
    <!--<ul>易易游戏网</ul>-->
    <!--<ul>快速登录</ul>-->
    <!--<ul>-->
        <!--<input type="text"  name="username" placeholder="请输入用户名 / 手机号码 / 邮箱号码" />-->
        <!--<input type="password"  name="password" placeholder="请输入密码" />-->
    <!--</ul>-->
    <!--<ul>-->
        <!--<li><input type="checkbox" id="checkbox_c1" class="chk_3" /><label for="checkbox_c1"></label><p>自动登录</p></li>-->
        <!--<li>还没有账号？<i>立即注册</i></li>-->
    <!--</ul>-->
    <!--<ul>-->
        <!--<li >快速登录</li>-->
    <!--</ul>-->
    <!--<ul>-->
        <!--<li>QQ登录</li>-->
        <!--<li>微信登录</li>-->
        <!--<li>支付宝登录</li>-->
    <!--</ul>-->
    <!--<ul>-->
        <!--忘记密码？<i>点这里</i>-->
    <!--</ul>-->
<!--</div>-->
<!--login end-->
<div class="login_black"></div>
<div class="login_box">
    <ul>×</ul>
    <ul>易易游戏网</ul>
    <ul>快速登录</ul>
    <ul>
        <input type="text"  name="username" placeholder="请输入用户名 / 手机号码 / 邮箱号码" />
        <input type="password"  name="password" placeholder="请输入密码" />
    </ul>
    <ul>
        <li><input type="checkbox" id="checkbox_c1" class="chk_3" /><label for="checkbox_c1"></label><p>自动登录</p></li>
        <li>还没有账号？<i>立即注册</i></li>
    </ul>
    <ul>
        <li >快速登录</li>
    </ul>
    <ul>
        <li>QQ登录</li>
        <li>微信登录</li>
        <li>支付宝登录</li>
    </ul>
    <ul>
        忘记密码？<i>点这里</i>
    </ul>
</div>

<!--register start-->
<!-- <div class="login_black"></div>
<div class="login_box" style="height: 700px!important;">
    <ul>×</ul>
    <ul>易易游戏网</ul>
    <ul>快速注册</ul>
    <ul>
        <input type="text"  name="username" placeholder="请输入手机号码" />
        <li>获取验证码</li>
        <input type="password"  name="password" placeholder="输入验证码" />
        <input type="password"  name="password" placeholder="请输入密码" />
        <input type="password"  name="password" placeholder="请确认密码" />
    </ul>
    <ul>
        <li>已有账号？<i>立即登录</i></li>

    </ul>
    <ul>
        <li >快速注册</li>
    </ul>
    <ul>
        <li>QQ登录</li>
        <li>微信登录</li>
        <li>支付宝登录</li>
    </ul>

</div> -->
<!--login end-->
