.infor_alert{
    padding: 20px;
    background: #f2f2f2;
    position: relative;
}
.infor_alert h5{
    font-size: 12px;
    color: #ff2d26;
    padding-bottom: 5px;
}
.infor_alert ul li{
    font-size: 12px;
    color: #222;
    padding: 5px 0;
}
.detele{
    width: 11px;
    height: 11px;
    background: url("/assets/images/ionic.png") no-repeat -186px -20px;
    display: inline-block;
    cursor: pointer;
}
.infor_alert .detele{
    position: absolute;
    top:20px;
    right: 20px;
    z-index: 5;
}
.infor_tit{
    font-size: 26px;
    color: #f0bd76;
    font-weight: bold;
    font-family:'Microsoft YaHei';
    text-align: center;
    margin-bottom: 40px;
    background: url("/assets/images/infor_bg.png") no-repeat center;
}
.acc_infor{
    margin-top: 60px;
}
.infor_ipt li{
    padding: 10px 0;
}
.infor_ipt li.pro_mf{
    margin-left: 117px;
    overflow: hidden;
}
.infor_ipt li span{
    width: 95px;
    font-size: 14px;
    color: #333;
    display: inline-block;
    text-align: right;
    margin-right: 18px;

}
.infor_ipt li span i{
    color: #ff2d26;
}
.infor_ipt li input,.infor_ipt li select{
    width: 250px;
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #e4e2e5;
    margin-right: 20px;
    color: #333;
}
.infor_ipt li b,.infor_ipt li i{
    font-size: 12px;
    color: #999;
}
.infor_ipt li.acc_time select{
    width: 95px;
}
.info_fix{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f2f2f2;
    font-size: 16px;
    color: #103e56;
    font-family:'Microsoft YaHei';
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
}
/*上传图片*/
.upload{
    width: 176px;
    height: 176px;
    border: 1px solid #cccccc;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .thumb {
        width: 50px;
        height: 50px;
        background-image: url(/assets/images/add_photo.png);
        background-size: 100% 100%;
        margin-bottom: 10px;
    }
    input{
        border: 0;
        position: absolute;
        left: 0;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    p{
        font-size: 14px;
        color: #999;
    }
    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.infor_ipt li .upload input{
    width: 176px;
    height: 176px;
}



.card_exam {
    margin:0 40px 0 20px;
    float: left;
}
.card_exam  p{
    color: #999;
    font-size: 14px;
}


//下一步按钮
.btn-wrapper {
  margin: 60px 0;
  text-align: center;
}
.next {
  width: 328px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(155deg, #ffd76d, #ffba00);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  text-shadow: 0 4px 10px rgba(0,0,0,.2);
//   cursor: not-allowed;
//   opacity: .4;
}

.next.valid {
  opacity: 1;
  cursor: pointer;
  transition: opacity .3s;
}

.next:active {
  transition: all .2s;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  transform: translate(1px, 1px);
}



//错误信息
.err-ipt {
    box-shadow: 0 0 3px red;
}
.err-msg {
    display: inline-block;
    color: red;
    font-size: .9rem;
}