<div class="content">
    <div class="child_tit">
        您现在的位置：
        <a href="javascript:;">首页</a>
        &gt;
        <a href="javascript:;">我要卖 </a>
        &gt;
        <a href="javascript:;">商品信息</a>
        &gt;
        <a href="javascript:;">账号信息</a>
        &gt;
        <a href="javascript:;">发布成功</a>
    </div>
    <div class="infor_alert">
        <h5>易易游戏网提醒您：</h5>
        <ul>
            <li>1.为满足广大客户的需求，地下城与勇士账号商品交易成功后，将延迟15天转账给卖家，此期间请勿修改帐号资料，否则将会财号两空。</li>
            <li>2.如果您出售的帐号出现找回情况，我们将把您在V9games登记的所有信息提供给买家，由买家在各大网站公布并向公安机关报案。</li>
            <li>3.有客服联系时，可点击【客服验证中心】验证客服真假，V9games不会通过邮箱进行二次审核或通过任何未认证通讯方式向您索取账号信息。</li>
            <li>温馨提示：为了顺利通过审核，建议您解除QQ安全中心手机版 <a href="javascript:;" class="clickable">（点击查看如何解绑QQ安全中心手机版）</a></li>
        </ul>
        <b class="detele"></b>
    </div>
    <div class="acc_infor">
        <div class="infor_tit">
            账号信息
        </div>
        <form action="">
            <ul class="infor_ipt">
                <li>
                    <span><i>*</i>游戏账号</span>
                    <input type="text"/>
                </li>
                <li>
                    <span><i>*</i>游戏密码</span>
                    <input type="text"/>
                </li>
                <li>
                    <span><i>*</i>确认游戏密码</span>
                    <input type="text"/>
                </li>
                <li>
                    <span><i>*</i>游戏角色名</span>
                    <input type="text"/>
                </li>
                <li>
                    <span><i>*</i>仓库密码</span>
                    <input type="text"/>
                </li>
                <li>
                    <span><i>*</i>身份证截图</span>
                     <i>注：身份证截图为游戏绑定的身份证截图</i>
                </li>
                <li class="pro_mf">
                        <div class="upload">
                            <input type="file">
                            <p>上传正面</p>
                        </div>
                    <div class="card_exam">
                        <img src="../images/sfz01.png"/>
                        <p>示例</p>
                    </div>
                        <div class="upload">
                            <input type="file">
                            <p>上传正面</p>
                        </div>
                    <div class="card_exam">
                        <img src="../images/sfz01.png"/>
                        <p>示例</p>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <div class="acc_infor">
        <div class="infor_tit">
            客服信息
        </div>
        <form action="">
            <ul class="infor_ipt">
                <li>
                    <span><i>*</i>客服暗号</span>
                    <input type="text"/>
                    <b>注：设置后，客服联系您时必定有此暗号，没有则为假客服</b>
                </li>
                <li class="acc_time">
                    <span><i>*</i>方便交易时间</span>
                    <select name="">
                        <option value="">0:00</option>
                        <option value="">1:00</option>
                        <option value="">2:00</option>
                    </select>
                    <select name="" >
                        <option value="">0:00</option>
                        <option value="">1:00</option>
                        <option value="">2:00</option>
                    </select>
                    <b>注：默认时间为24小时，如全天24小时均方便交易，请选择00:00到00:00</b>
                </li>
                <li>
                    <span><i>*</i>有效期</span>
                    <select name="" >
                        <option value="">一天</option>
                        <option value="">两天</option>
                        <option value="">三天</option>
                    </select>
                    <b>注：再此有效期后就停止出售此商品</b>
                </li>
                <li>
                    <span>是否指定购买</span>
                    <select name="" >
                        <option value="">否</option>
                        <option value="">是</option>
                    </select>
                </li>
                <li>
                    <span>资金转账至</span>
                    <select name="" >
                        <option value="">平台账户2</option>
                        <option value="">平台账户3</option>
                    </select>
                </li>
                <li>
                    <span>无货赔付</span>
                    <select name="" >
                        <option value="">否</option>
                        <option value="">是</option>
                    </select>
                </li>
            </ul>
        </form>
    </div>
    <div class="acc_prot">
        <!--登录注册里的我同意和确认无误按钮提交-->
    </div>
</div>
<div class="info_fix">
    <div class="content">
        您当前的选择是：古剑奇谭 > 账号交易
    </div>
</div>