@keyframes show {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: .5;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: .4;
    transform: translate3d(-300px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: .4;
    transform: translate3d(300px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


.overlay{
  width: 100%;
  height: 100%;
  background-color: #000;
  // opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 100;
  animation: overlay .3s ease-out forwards;
}

.register-box, .login-box {
  width: 585px;
  height: 671px;
  border: 1px solid #e8ca9c;
  border-radius: 5px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  margin-top: -335px;
  left: 50%;
  margin-left: -294px;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #999;
  font-size: 14px;
}

.register-box.pop-in, .login-box.pop-in {
  animation: show .3s ease-out forwards;
}

.login-box.fadeInLeft {
  animation: fadeInLeft .3s ease-out forwards;
}

.register-box.fadeInRight{
  animation: fadeInRight .3s ease-out forwards;
}

.register-box.fadeOut, .login-box.fadeOut {
  animation: fadeOut .3s ease-out forwards;
}

.register-box {
  height: 700px;
}

.register-box .cancel, .login-box .cancel {
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
.register-box h1, .login-box h1 {
  color: #444444;
  font-size: 28px;
  font-weight: bold;
  margin-top: 54px;
}
.register-box h4, .login-box h4 {
  line-height: 40px;
  padding-bottom: 50px;
  font-size: 16px;
  color: #444444;
  font-weight: bold;
}

// 表单

.register-form, .login-form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.register-form .ipt, .login-form .ipt {
    padding:0 24px;
    width: 423px;
    height: 58px;
    font-size: 14px;
    letter-spacing: 1.5px;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px 1px;
}
.register-form .ipt-group:first-of-type .ipt, .login-form .ipt-group:first-of-type .ipt {
    border-top-width: 1px;
    border-top-left-radius:5px ;
    border-top-right-radius: 5px;
}

.register-form .ipt-group:last-of-type .ipt, .login-form .ipt-group:nth-child(2) .ipt {
  border-bottom-left-radius:5px ;
  border-bottom-right-radius: 5px;
}

.ipt-group {
  position: relative;
}

.ipt-group .err-msg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1rem;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form .btn-code {
    width: 110px;
    height: 36px;
    position: absolute;
    background-image: linear-gradient(155deg, #ffd76d, #ffba00);
    right: 20px;
    top: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}


.register-box .option {
    height:25px;
    margin-top: 25px;
    line-height: 18px;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.register-box i, .login-box i {
  color: #ffba00;
  cursor: pointer;
}

.register-box .submit, .login-form .submit {
  margin-top: 30px;
  width: 425px;
  height: 60px;
  border-radius: 5px;
  background-image: linear-gradient(155deg, #ffd76d, #ffba00);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  letter-spacing: 4px;
}

.register-box .submit:active, .register-form .btn-code:active, .login-form .submit:active {
  transition: all .2s;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.5);
  transform: translate(2px, 2px);
}


.third-parties {
  width: 280px;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 38px;
}
.third-parties li{
  width: 70px;
  height: 75px;
  background-position:center top;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}
.third-parties li:first-child{
  background-image: url("/assets/qq.png");
}
.third-parties li:nth-child(2){
  background-image: url("/assets/wechat.png") ;
}
.third-parties li:last-child{
  background-image: url("/assets/alipay.png") ;
}


// 登录

.login-box .regain-pass {
  width: 280px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #444444;
  font-weight: 600;
}

.login-box .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.login-box .option .left {
  display: flex;
}

.login-box .option label {
  cursor: pointer;
  padding: 0 10px;
  user-select: none;
}

.submit.invalid, .btn-code.invalid {
  cursor: not-allowed !important;
  opacity: .4;
}

/*******checkbox*******/
.chk_3{
  display: none;
}

.chk_3 + label {
  background-color: #fafbfa;
  padding: 9px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  // margin-right: 10px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 35px;
  height: 18px;
}

.chk_3  + label:after {
  content: '';
  position: absolute;
  top: 0;
  -webkit-transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
}

.chk_3  + label:before {
  content: '';
  position: absolute;
  background: white;
  top: 0px;
  left: 1px;
  z-index: 999999;
  width: 17px;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  height: 17px;
  border-radius: 100px;
  box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0px 1px rgba(0,0,0,0.3);
}

.chk_3:active + label:after {
  box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
}

.chk_3:active + label:before {
  width: 17px;
}

.chk_3:checked:active + label:before {
  width: 17px;
  left: 18px;
}

.chk_3  + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.chk_3:checked + label:before {
  content: ' ';
  position: absolute;
  left: 18px;
  border-radius: 100px;
}

.chk_3:checked + label:after {
  content: ' ';
  font-size: 1.5em;
  position: absolute;
  background: #ffc017;
  box-shadow: 0 0 1px #999;
}




//demo only

.nn {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}