<div class="fi-wrap">
  <!--当前位置-->
  <div class="currency current">您现在的位置：首页 > 我要买 > 14衣服+9弓外送51级小炮镖飞 51级狂战手动搬砖号卖等级钱</div>


  <!--提醒-->
  <div class="remind currency">
      <h1>易易游戏网提醒您：</h1>
      <p>
          1.请按要求正确填写您的联系方式，如因您填写的信息有误而不能完成交易，易易游戏网不承担任何责任。<br>
          2.请妥善保管好的您的游戏账号和密码，易易游戏网不会以任何理由向您索要账号和密码。<br>
          如有疑问请致电客服电话0570-8731866 或<b>【联系客服】</b>
      </p>
      <span class="close">╳</span>
  </div>

  <!--商品信息条-->
  <div class="navtitle currency"><h1>商品信息</h1></div>

  <!--商品信息-->
  <div class="shoplist currency">
    <p> 商品编号 ：<b>20170920082135-61084</b></p>
      <p>  商品信息 ：<b>地下城与勇士帐号商品交易【剑神 角色等级90 男 身份证已设置 QQ等级0级 有QQ好友 】上元节三，雷剑，圣剑。2016国庆套。完美换装。</b></p>
      <p>商品描述 ：<b>心血号。到现在已经没时间玩下去了。希望有玩家善待此号。</b></p>
  </div>

  <!--收货信息条-->
  <div class="navtitle currency"><h1>收货信息</h1></div>

  <!--收货信息-->
  <div class="getlist currency">
      <li><span>电话</span><input type="text"></li>
      <li><span>QQ</span><input type="text"></li>
  </div>

  <!--确认下一步-->
  <div class="buynext currency">
      <h1>应付金额：<b>￥1500.00</b></h1>
      <div>
          <input type="checkbox" id="checkbox1" class="checkbox">
          <label for="checkbox1"></label>
          <label for="checkbox1">我同意</label>《账号交易买家购买协议》
      </div>
      <button (click)="goPay()">立即购买</button>
  </div>
</div>