.step {
  width: 460px;
  margin: 100px auto;
  position: relative;
  display: flex;
  justify-content: space-between;

  .circle {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #cccccc;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 0 0 10px rgba(204, 204, 204, .2);

    &.circle1 {
      background-color: #ffba00;
      box-shadow: 0 0 0 10px rgba(255, 186, 0, .2);
    }

    &.step2 {
      animation: .18s fill .06s linear forwards;
      box-shadow: 0 0 0 10px rgba(255, 186, 0, .2);
      transition: .3s;
    }

    &.step3 {
      animation: .18s fill .06s linear forwards;
      box-shadow: 0 0 0 10px rgba(255, 186, 0, .2);
      transition: .3s;
    }
  }
  
}

.bar {
  position: absolute;
  height: 8px;
  width: 100%;
  top: 10px;
  left: 0;
  background-color: #ececec;
  z-index: -1;

  .progress {
    position: absolute;
    height: 100%;
    width: 124px;
    top: 0;
    left: 0;
    background-color: #ffba00;
    border-radius: 4px;

    &.step2 {
      animation: .3s extend2 linear forwards;
    }

    &.step3 {
      animation: .2s extend3 linear forwards;
    }
  }

}




@keyframes extend2 {
  0% {
    width: 124px;
  }
  10% {
    width: 145.6px;
  }
  20% {
    width: 167.2px;
  }
  30% {
    width: 188.8px;
  }
  40% {
    width: 210.4px;
  }
  50% {
    width: 232px;
  }
  60% {
    width: 253.6px;
  }
  70% {
    width: 275.2px;
  }
  80% {
    width: 296.8px;
  }
  90% {
    width: 318.4px;
  }
  100% {
    width: 340px;
  }
}
@keyframes extend3 {
  0% {
    width: 340px;
  }
  10% {
    width: 352px;
  }
  20% {
    width: 364px;
  }
  30% {
    width: 376px;
  }
  40% {
    width: 388px;
  }
  50% {
    width: 400px;
  }
  60% {
    width: 412px;
  }
  70% {
    width: 424px;
  }
  80% {
    width: 436px;
  }
  90% {
    width: 448px;
  }
  100% {
    width: 460px;
  }
}

@keyframes fill {
  0% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 0%, transparent 0%);
  }
  10% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 10%, transparent 10%);
  }
  20% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 20%, transparent 20%);
  }
  30% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 30%, transparent 30%);
  }
  40% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 40%, transparent 40%);
  }
  50% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 50%, transparent 50%);
  }
  60% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 60%, transparent 60%);
  }
  70% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 70%, transparent 70%);
  }
  80% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 80%, transparent 80%);
  }
  90% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 90%, transparent 90%);
  }
  100% {
    background-image: linear-gradient(to right, #ffba00, #ffba00 100%, transparent 100%);
  }
}