<div class="top">
    <div class="content flex top_flex">
       <div class="top_left" *ngIf="!isLoggedIn">
           <b class="top_size"><i></i>手机版</b>
           <span>亲爱的玩家，请</span>
           <a class="text_color" (click)="log_reg('login')">登录</a>
           <a class="top_size" (click)="log_reg('register')">注册</a>
       </div>

       <div class="top_left" *ngIf="isLoggedIn">
           <b class="top_size"><i></i>手机版</b>
           <span>您好</span>
           <a class="text_color" routerLink="/personal">无崖子</a>
           <a class="top_size" (click)="logout()">[退出]</a>
           <a class="top_size">消息</a>
       </div>

        <div class="top_right">
            <ul>
                <li>
                    <a href="javascript:;">我的游戏网</a>
                </li>
                <li class="top_right_pull top_right_buy ">
                    <a href="javascript:;">我要买 <span class="pull "></span></a>
                    <div class="top_right_subm top_subm_buy">
                        <div>我要买 <span class="pull "></span></div>
                        <p>已买到的商品</p>
                        <p routerLink="/buy">我要买
                        </p>
                    </div>
                </li>
                <li class="top_right_pull top_right_sale">
                    <a href="javascript:;">我要卖 </a><span class="pull "></span>
                    <div class="top_right_subm top_subm_sale">
                        <div>我要卖 <span class="pull "></span></div>
                        <p>出售中的商品</p>
                        <p routerLink="/sale">我要卖</p>
                    </div>
                </li>
                <li>
                    <a href="javascript:;">在线客服</a>
                </li>
            </ul>
        </div>
    </div>
</div>
