<div class="per_subclass">
    <h2 class="perrg_b_tit flex">
        <span>消息中心</span>
    </h2>
    <div class="per_mess">
        <div class="perm_classify">
            <button class="permf_btn per_btn">全部消息</button>
            <button class="permf_btn">交易消息</button>
            <button class="permf_btn">平台消息</button>
        </div>
        <div class="perm_list">
            <div class="perm_list_item permli_tit ">
                <div class="p_select">选择</div>
                <div class="p_title">标题</div>
                <div class="p_type">类型</div>
                <div class="p_time">时间</div>
                <div class="p_operate">操作</div>
                <div class="p_look">查看</div>
            </div>
            <div class="perm_list_item perm_unread">
                <div class="p_select">
                    <div class="square_box sqbox_on ">
                          <input type="checkbox" />
                    </div>
                </div>
                <div class="p_title"><span><b>[New]</b>您出售的账号商品没有通过审核</span></div>
                <div class="p_type">平台消息</div>
                <div class="p_time">2017.06.04 &nbsp;&nbsp; 16:20</div>
                <div class="p_operate"><a>删除</a><i></i><a>标为已读</a></div>
                <div class="p_look"><a>查看详情</a></div>
            </div>
            <div class="perm_list_item">
                <div class="p_select">
                    <div class="square_box">
                        <input type="checkbox" />
                    </div>
                </div>
                <div class="p_title"><span>您出售的账号商品没有通过审核</span></div>
                <div class="p_type">平台消息</div>
                <div class="p_time">2017.06.04 &nbsp;&nbsp; 16:20</div>
                <div class="p_operate"><a>删除</a><i></i><a>标为已读</a></div>
                <div class="p_look"><a >查看详情</a></div>
            </div>
            <div class="perm_list_item">
                <div class="p_select">
                    <div class="square_box">
                        <input type="checkbox" />
                    </div>
                </div>
                <div class="p_title"><span>您出售的账号商品没有通过审核</span></div>
                <div class="p_type">平台消息</div>
                <div class="p_time">2017.06.04 &nbsp;&nbsp; 16:20</div>
                <div class="p_operate"><a>删除</a><i></i><a>标为已读</a></div>
                <div class="p_look"><a >查看详情</a></div>
            </div>
            <div class="perm_list_item">
                <div class="p_select">
                    <div class="square_box">
                        <input type="checkbox" />
                    </div>
                </div>
                <div class="p_title"><span>您出售的账号商品没有通过审核</span></div>
                <div class="p_type">平台消息</div>
                <div class="p_time">2017.06.04 &nbsp;&nbsp; 16:20</div>
                <div class="p_operate"><a>删除</a><i></i><a>标为已读</a></div>
                <div class="p_look"><a >查看详情</a></div>
            </div>
        </div>
        <div class="per_messbot flex">
            <div class="permet_lt">
                <div class="square_box sqbox_on ">
                    <input type="checkbox" />
                </div>
                <span>全选</span>
                <span>删除所选</span>
                <span>清空消息</span>
                <span>标为已读</span>
            </div>
            <div class="permet_rg">
                <!--分页-->
            </div>
        </div>
    </div>
</div>