


.size_color{
    color: #666;
    font-size: 12px;
}

/*首页*/
.banner{
    width: 100%;
    height: 400px;
    background: #ebcb74;
    position: relative;
    z-index:1;
}
.poster_list {
    width: 100%;
    height: 400px;
    min-width: 1200px;
    transition: background .4s;

    .widgets {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        padding: 1em;

        ul li {
            width:20px;
            height: 20px;
            background: url("/assets/images/ionic.png") -49px -13px;
            float: left;
            margin-right: 10px;
            cursor: pointer;
        }
        ul li.on {
            background: url("/assets/images/ionic.png") -75px -13px;
        }
    }
}


.ban_sus{
    width: 280px;
    height: 400px;
    padding: 35px 20px 15px;
    background:rgba(255,255,255,0.4);
    position: absolute;
    top:0;
    right: 50%;
    z-index: 5;
    margin-right: -600px;
}
.ban_sus_tit{
    height: 120px;
    margin-bottom: 20px;
}
.ban_sus_btn{
    width: 240px;
    height: 50px;
    background: url("/assets/images/ban_sus02.png");
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
}
.ban_sus_btn img{
    margin:0 8px 3px 0;
    vertical-align: middle;
}
.index_deal{
    margin-top: 40px;
}
.id_left{
    width: 156px;
}
.id_left ul li{
    width: 156px;
    background: #000;
    height: 94px;
    border-bottom: 1px solid #e0a25d;
    font-size: 16px;
    text-align: center;
}
.id_left ul li.on{
    border: 1px solid #efb546;
    background: linear-gradient(#ffd990, #dc9a56);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      border: 1px solid #efb546;
    }

    &:after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      background-color: #edb973;
      /*background-image: linear-gradient(#efb546, #dc9a56);*/
      right: -4px;
      top: 44px;
      border: 1px solid #edb973;
      transform: rotate(45deg);
      z-index: -1;
    }
}
.id_left ul li.on a{
    color: #fff;
}
.id_left ul li:last-child{
    border-bottom: none;
}
.id_left ul li p{
   padding: 22px 0 4px 0;
}
.id_left ul li a{
    color: #fad189;
}
.id_left ul li span{
    border: 1px solid #efb546;
    color: #000;
    font-size: 12px;
    padding: 0 3px;
    height: 22px;
    line-height: 22px;
    background:linear-gradient(#ffd990,#dc9a56);
}
.id_right {
    width: 1032px;
    height: 380px;
    background-color: #000;

    ul {
      list-style: none;
      width: 100%;
      height: 100%;
    }

    li {
      position: relative;
      float: left;
      width: 15.88%;
      height: 100%;
      background-position: center top;
      background-repeat: no-repeat;
      overflow: hidden;
      transition: width .4s ease-in-out;
      cursor: pointer;

        .bg {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center top;
            transition: opacity .6s ease-in-out, background-size .6s;
        }

        .name {
            position: absolute;
            z-index: 2;
            width: 100px;
            height: 136px;
            bottom: 80px;
            left: 50%;
            transform: translateX(-50%);
      }

      .btn-detail {
          position: absolute;
          width: 109px;
          height: 34px;
          background: url(/assets/heroes/sprite.png) 0 129px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #fff;
          text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
          left: 50%;
          transform: translateX(-50%);
          user-select: none;
          bottom: 20px;
          display: none;
      }

      .btn-detail.show {
          display: flex;
          animation: slideUp .6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
      }
    }

    li:nth-child(1) {
      background-image: url(/assets/heroes/hero1-bg.png);

      .bg {
        background-image: url(/assets/heroes/hero1.png);
      }

      .name {
          background: url(/assets/heroes/sprite.png) 16px 0;
      }
      
    }

    li:nth-child(2) {
      background-image: url(/assets/heroes/hero2-bg.png);
    
        .bg {
        background-image: url(/assets/heroes/hero2.png);
        }

        .name {
          background: url(/assets/heroes/sprite.png) -100px 0;
        }
    }

    li:nth-child(3) {
      background-image: url(/assets/heroes/hero3-bg.png);
    
        .bg {
        background-image: url(/assets/heroes/hero3.png);
        }

        .name {
          background: url(/assets/heroes/sprite.png) -224px 0;
        }
    }

    li:nth-child(4) {
      background-image: url(/assets/heroes/hero4-bg.png);
    
        .bg {
        background-image: url(/assets/heroes/hero4.png);
        }

        .name {
          background: url(/assets/heroes/sprite.png) 380px 0;
        }
    }

    li:nth-child(5) {
      background-image: url(/assets/heroes/hero5-bg.png);
    
        .bg {
        background-image: url(/assets/heroes/hero5.png);
        }

        .name {
          background: url(/assets/heroes/sprite.png) -462px 0;
        }
    }

    li:nth-child(6) {
      background-image: url(/assets/heroes/hero6-bg.png);
    
        .bg {
        background-image: url(/assets/heroes/hero6.png);
        }

        .name {
          background: url(/assets/heroes/sprite.png) 142px 0;
        }
    }

    li.cur {
      width: 20.6%;
    }

    li.cur .bg{
      opacity: 0;
      background-size: 100%;
    }
}

/*合作单位*/
.cooperation{
    margin: 50px 0;
}
.co_tit{
    font-size: 30px;
    color: #f0bd76;
    font-weight: bold;
    background: url("/assets/images/coo_bg.png") no-repeat center;
    text-align: center;
    margin-bottom: 38px;
}
.co_list{
    margin-bottom: 20px;
}
.index_news_left{
    width:460px;
    margin-top: 7px;
}
.index_news_advert{
    width: 716px;
}
.index_news{
    margin-top: 40px;
}
.index_news_tit{
    border-bottom: 1px solid #e4e2e5;
    padding-bottom: 15px;
}
.index_news_tit span{
    font-size: 14px;
    color: #222;
}
.index_news_tit b{
    font-size: 12px;
    color: #666;
}
.index_news_det{
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e2e5;
}
.index_news_det h4{
    width: 390px;
    font-size: 18px;
    color: #222;
    margin: 26px 0 17px ;
}
.i_list_data li{
    padding: 8px 0;
}
.i_list_data li span:before{
    content: "";
    width: 5px;
    height: 5px;
    background: #575757;
    border-radius:50px ;
    display: inline-block;
}
.i_list_data li i{
    width: 5px;
    height: 5px;
    background: #575757;
    border-radius:50px ;
    display: inline-block;
}
.i_list_data li span{
    width: 380px;
    display: inline-block;
    font-size: 14px;
    color: #444;
}
.i_list_data li b{
    font-size: 12px;
    color: #666;
}
.ina_space{
    height: 306px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.ina_space img{
    width: 246px;
    height: 148px;
}

.tabmenu{
    position:absolute;
    left:0;
    margin:0px;
    bottom: -30px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.tabmenu li{
    display:inline-block;
}
.tabmenu li a{
    width: 115px;
    display:inline-block;
    background:#000;
    font-size:12px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
.tabmenu li a:hover{
    background: #edb241;
}
.ina_ban{
    position:relative;
    margin:0 auto;
    width:460px;
    height:275px;
}
.tab_content{
    position:absolute;
    width:460px;
    height:275px;
    background-color:#ccc;
}

@keyframes slideUp {
    0% {
        // bottom: -100px;
        opacity: 0;
        transform: translate3d(-50%, 3000px, 0);
    }

    60% {
        opacity: 1;
        transform: translate3d(-50%, -20px, 0);
    }
    75% {
        transform: translate3d(-50%, 10px, 0);
    }

    90% {
        transform: translate3d(-50%, -5px, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}