<!--头部-->
<div class="top">
    <div class="content flex top_flex">
       <div class="top_left ">
           <b class="top_size"><i></i>手机版</b>
           <span>亲爱的玩家，请</span>
           <a class="text_color" (click)="log_reg('login')">登录</a>
           <a class="top_size" (click)="log_reg('register')">注册</a>
       </div>
        <div class="top_right">
            <ul>
                <li>
                    <a href="javascript:;">我的游戏网</a>
                </li>
                <li class="top_right_pull top_right_buy ">
                    <a href="javascript:;">我要买 <span class="pull "></span></a>
                    <div class="top_right_subm top_subm_buy">
                        <div>我要买 <span class="pull "></span></div>
                        <p>已买到的商品</p>
                        <p>我要买</p>
                    </div>
                </li>
                <li class="top_right_pull top_right_sale">
                    <a href="javascript:;">我要卖 </a><span class="pull "></span>
                    <div class="top_right_subm top_subm_sale">
                        <div>我要买 <span class="pull "></span></div>
                        <p>出售中的商品</p>
                        <p>我要卖</p>
                    </div>
                </li>
                <li>
                    <a href="javascript:;">在线客服</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--logo搜索部分-->
<div class="header">
    <div class="content">
        <div class="header_top  flex top_flex">
            <div class="header_left">
                <div class="logo f_l">
                    <img src="/assets/images/logo.png"/>
                </div>
                <div class="header_left_line f_l"></div>
                <div class="header_left_hot f_l">
                    <img src="/assets/images/img_01.png"/>
                </div>
            </div>
            <div class="header_right">
                <div class="header_right_type">
                    <div class="header_right_type_pr">
                        <div class="header_prec">
                            <img src="/assets/images/seach01.png"/>
                        </div>
                        <ul class="header_hot">
                            <li class="h_list_f"><a href="javascript:;">热门搜索：</a></li>
                            <li><a href="javascript:;">DNF</a></li>
                            <li><a href="javascript:;" class="text_color">王者荣耀</a></li>
                            <li><a href="javascript:;">CS GO</a></li>
                            <li><a href="javascript:;" class="text_color">DOTA 2</a></li>
                            <li><a href="javascript:;">GTA5</a></li>
                        </ul>
                    </div>
                    <div class="header_seach flex">
                        <div class="header_seach_left">
                            <ul>
                                <li>
                                    <a href="javascript:;">游戏区<span class="pull "></span></a>
                                </li>
                                <li>
                                    <a href="javascript:;">服务区<span class="pull "></span></a>
                                </li>
                                <li>
                                    <a href="javascript:;">物品种类<span class="pull "></span></a>
                                </li>
                            </ul>
                            <input type="text" class="header_seach_input" placeholder="请输入想要搜索的内容">

                        </div>
                        <div class="header_seach_right">
                            <img src="/assets/images/search_btn.png"/>
                        </div>
                    </div>
                </div>
                <!--搜索的点击部分-->
                <div class="header_type_det">
                    <div class="header_type_tit ">
                        <a href="javascript:;" class="h_list_f">历史记录：</a>
                        <a href="javascript:;">联通2区</a>
                        <a href="javascript:;">网通1区</a>
                    </div>
                    <div class="header_type_data">
                        <a href="javascript:;" class="hot"><b></b>电信1区</a>
                        <a href="javascript:;">电信1区</a>
                        <a href="javascript:;">电信1区</a>
                        <a href="javascript:;">电信1区</a>
                    </div>
                </div>
            </div>
        </div>
        <!--导航-->
        <div class="nav_menu">
            <ul>
                <li *ngFor="let menu of menus; let idx = index"
                    ><a [routerLink]="menu.path">{{ menu.text }}</a></li>
            </ul>
        </div>
    </div>
</div>
<!--海报-->
<div class="banner">
    <div class="poster">
        <div 
            class="poster_list"
            [style.background-image]="'url(/assets/images/ban_0' + (curBanner + 1) + '.jpg)'"
            [style.background-position]="'50% 50%'"
            >

            <div class="widgets">
                <ul class="indicators">
                    <li [class.on]="curBanner === idx"
                        (click)="curBanner = idx"
                        *ngFor="let indicator of [1,2,3]; let idx = index"></li>
                </ul>
            </div>
            
        </div>
        
    </div>
    <div class="ban_sus">
        <div class="ban_sus_tit">
            <img src="/assets/images/ban_sus01.png"/>
        </div>
        <button class="btn ban_sus_btn ban_bt_wher ">
            <img src="/assets/images/icon01.png"/>
            找代练
        </button>
        <button class="btn ban_sus_btn ban_bt_buy">
            <img src="/assets/images/icon02.png"/>
             我要买
        </button>
        <button class="btn ban_sus_btn ">
            <img src="/assets/images/icon03.png"/>
            我要卖
        </button>
    </div>
</div>

<div class="content">
    <!--账号交易-->
    <div class="index_deal flex">
        <div class="id_left">
            <ul>
                <li class="on">
                    <a href="javascript:;">
                        <p>账号交易</p>
                        <span>0.1元/金起</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p>金币交易</p>
                        <span>0.1元/金起</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p>装备交易</p>
                        <span>权杖5折起</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p>代练交易</p>
                        <span>免费代练</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="id_right">
            <ul class="container">
                <li 
                    *ngFor="let hero of [1,2,3,4,5,6]; let idx = index" 
                    (mouseover)="curHero = idx"
                    [class.cur]="idx === curHero">
                    <div class="bg"></div>

                    <div class="name"></div>

                    <div class="btn-detail" [class.show]="idx === curHero">查看商品</div>
                </li>
            </ul>
        </div>
    </div>
    <!--资讯-->
    <div class="index_news flex">
        <div class="index_news_left">
            <h2 class=" index_news_tit flex">
                <span>最新资讯</span>
                <a href="javascript:;" class="size_color">更多资讯</a>
            </h2>
            <div class="index_news_det">
                <h4 class="comm_dian">
                    全明星之夏7月热力进击，龙图粉丝节多重豪礼粉丝节多重豪礼礼粉丝节多重豪礼
                </h4>
                <ul class="i_list_data">
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian " >【攻略】 卧虎藏龙贰手游50-59级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian ">【攻略】 卧虎藏龙贰手游50-59级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian "> 【攻略】 卧虎藏龙贰手游50-59级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian "> 【攻略】 卧虎藏龙贰手游50-59级快速升级攻略9级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian ">【攻略】 卧虎藏龙贰手游50-59级快速升级攻略9级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                </ul>
            </div>
        </div>
        <div class="index_news_advert flex ">
                <div class="ina_ban">
                    <div id="tab1" class="tab_content">tab1</div>
                    <div id="tab2" class="tab_content">tab2</div>
                    <div id="tab3" class="tab_content">tab3</div>
                    <div id="tab4" class="tab_content">tab4</div>
                    <ul class="tabmenu">
                        <li><a href="javascript:">tab1</a></li>
                        <li><a href="javascript:">tab2</a></li>
                        <li><a href="javascript:">tab3</a></li>
                        <li><a href="javascript:">tab4</a></li>
                    </ul>
                </div>
            <div class="ina_space">
                <img src="/assets/images/img_03.png"/>
                <img src="/assets/images/img_04.png"/>
            </div>
        </div>
    </div>
    <!--合作单位-->
    <div class="cooperation">
        <div class="co_tit">
            合作单位
        </div>
        <div class="co_list flex ">
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
        </div>
        <div class="co_list flex ">
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
        </div>
    </div>
    <!--底部-->
    <div class="bottom flex">
        <div class="header_left">
            <div class="logo f_l">
                <img src="/assets/images/logo.png"/>
            </div>
            <div class="header_left_line f_l"></div>
            <div class="header_left_hot f_l">
                <img src="/assets/images/img_01.png"/>
            </div>
        </div>
        <div class="bot_right">
            <div class="bot_menu">
                <a href="javascript:;">关于我们</a>
                <a href="javascript:;">联系我们</a>
                <a href="javascript:;">免责声明</a>
                <a href="javascript:;">家长监控</a>
                <a href="javascript:;">商户合作</a>
                <a href="javascript:;">建议反馈</a>
            </div>
            <div class="bot_text flex">
                <b>浙江桔子科技网络有限公司</b>
                <b>联系方式:0570-12345678</b>
                <b>邮箱:jzwl@123.com</b>
                <b>公司地址:浙江省衢州市柯城区花园东大道258号</b>
            </div>
            <div class="bot_text bot_text_p ">
                <b>网络文化经营许可证:浙网文[2017]0000-000号</b>
                <b>增值电信业务经营许可证:浙B0-20170000</b>
                <b>公网安备00000000000000号</b>
            </div>
            <div class="bot_text bot_text_p ">
                <b>Copyright  2017-2018 jzkj. All rights reseved.浙江桔子网络科技有限公司</b>
                <b>浙ICP备00000000号</b>
            </div>
            <div class="bot_img flex">
                <img src="/assets/images/bot_01.png"/>
                <img src="/assets/images/bot_02.png"/>
                <img src="/assets/images/bot_03.png"/>
                <img src="/assets/images/bot_04.png"/>
                <img src="/assets/images/bot_05.png"/>
                <img src="/assets/images/bot_06.png"/>
                <img src="/assets/images/bot_07.png"/>
            </div>
        </div>
    </div>
</div>

<app-login 
    (cancel)="onCancelLogin()"
    [loginType]="loginType"
    [calledByOther]="true"
    *ngIf="showLoginForm"></app-login>