<!--头部-->
<app-header></app-header>
<!--海报-->
<div class="banner">
    <div class="poster">
        <div 
            class="poster_list"
            [style.background-image]="'url(/assets/images/ban_0' + (curBanner + 1) + '.jpg)'"
            [style.background-position]="'50% 50%'"
            >

            <div class="widgets">
                <ul class="indicators">
                    <li [class.on]="curBanner === idx"
                        (click)="curBanner = idx"
                        *ngFor="let indicator of [1,2,3]; let idx = index"></li>
                </ul>
            </div>
            
        </div>
        
    </div>
    <div class="ban_sus">
        <div class="ban_sus_tit">
            <img src="/assets/images/ban_sus01.png"/>
        </div>
        <button class="btn ban_sus_btn ban_bt_wher ">
            <img src="/assets/images/icon01.png"/>
            找代练
        </button>
        <button class="btn ban_sus_btn ban_bt_buy">
            <img src="/assets/images/icon02.png"/>
             我要买
        </button>
        <button class="btn ban_sus_btn ">
            <img src="/assets/images/icon03.png"/>
            我要卖
        </button>
    </div>
</div>

<div class="content">
    <!--账号交易-->
    <div class="index_deal flex">
        <div class="id_left">
            <ul>
                <li class="on">
                    <a href="javascript:;">
                        <p>账号交易</p>
                        <span>0.1元/金起</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p>金币交易</p>
                        <span>0.1元/金起</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p>装备交易</p>
                        <span>权杖5折起</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <p>代练交易</p>
                        <span>免费代练</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="id_right">
            <ul class="container">
                <li 
                    *ngFor="let hero of [1,2,3,4,5,6]; let idx = index" 
                    (mouseover)="curHero = idx"
                    [class.cur]="idx === curHero">
                    <div class="bg"></div>

                    <div class="name"></div>

                    <div class="btn-detail" [class.show]="idx === curHero">查看商品</div>
                </li>
            </ul>
        </div>
    </div>
    <!--资讯-->
    <div class="index_news flex">
        <div class="index_news_left">
            <h2 class=" index_news_tit flex">
                <span>最新资讯</span>
                <a href="javascript:;" class="size_color">更多资讯</a>
            </h2>
            <div class="index_news_det">
                <h4 class="comm_dian">
                    全明星之夏7月热力进击，龙图粉丝节多重豪礼粉丝节多重豪礼礼粉丝节多重豪礼
                </h4>
                <ul class="i_list_data">
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian " >【攻略】 卧虎藏龙贰手游50-59级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian ">【攻略】 卧虎藏龙贰手游50-59级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian "> 【攻略】 卧虎藏龙贰手游50-59级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian "> 【攻略】 卧虎藏龙贰手游50-59级快速升级攻略9级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                    <li ><a href="javascript:;" class="flex"><span class="comm_dian ">【攻略】 卧虎藏龙贰手游50-59级快速升级攻略9级快速升级攻略</span><b class="size_color">09/13</b></a></li>
                </ul>
            </div>
        </div>
        <div class="index_news_advert flex ">
                <div class="ina_ban">
                    <div id="tab1" class="tab_content">tab1</div>
                    <div id="tab2" class="tab_content">tab2</div>
                    <div id="tab3" class="tab_content">tab3</div>
                    <div id="tab4" class="tab_content">tab4</div>
                    <ul class="tabmenu">
                        <li><a href="javascript:">tab1</a></li>
                        <li><a href="javascript:">tab2</a></li>
                        <li><a href="javascript:">tab3</a></li>
                        <li><a href="javascript:">tab4</a></li>
                    </ul>
                </div>
            <div class="ina_space">
                <img src="/assets/images/img_03.png"/>
                <img src="/assets/images/img_04.png"/>
            </div>
        </div>
    </div>
    <!--合作单位-->
    <div class="cooperation">
        <div class="co_tit">
            合作单位
        </div>
        <div class="co_list flex ">
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
        </div>
        <div class="co_list flex ">
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
            <img src="/assets/images/img_02.png"/>
        </div>
    </div>
    <!--底部-->
    <app-footer></app-footer>
</div>

