<div class="per_subclass">
    <h2 class="perrg_b_tit flex">
        <span>账号安全</span>
    </h2>
    <div class="acct_safe">
        <div class="acct_safe_head">
            <div class="acct_safe_grade">
                <span>安全等级</span>
                    <div class="acct_safe_series"><b></b></div>
                    <i class="red">极低</i>
                    <p class="red">您还未进行实名认证，请完善资料以保障资金以及账户安全。</p>
            </div>
            <div class="acsf_it_rg">
                <a class="acctsf_click" routerLink="/personal/security/record">查看登录记录</a>
            </div>
        </div>
        <div class="acct_safe_list">
            <div class="acct_safe_item">
                <div class="acsf_it_lt">
                    <b class="right"></b>
                    <h2>实名认证</h2>
                    <span>您的认证信息：<i>**超 &nbsp;&nbsp;3303**********1234</i></span>
                </div>
                <div class="acsf_it_rg">
                    <a routerLink="/personal/security/auth">查看</a>
                </div>
            </div>
            <div class="acct_safe_item">
                <div class="acsf_it_lt">
                    <b class="right"></b>
                    <h2>登录密码</h2>
                    <span>您的登录密码较复杂，建议您定期更改密码以保护帐户安全。</span>
                </div>
                <div class="acsf_it_rg">
                    <a routerLink="/personal/security/passwd">修改</a>
                </div>
            </div>
            <div class="acct_safe_item">
                <div class="acsf_it_lt">
                    <b class="wrong"></b>
                    <h2>邮箱验证</h2>
                    <span class="red">您的登录密码较复杂，建议您定期更改密码以保护帐户安全。</span>
                </div>
                <div class="acsf_it_rg">
                    <a class="red">去绑定</a>
                </div>
            </div>
            <div class="acct_safe_item">
                <div class="acsf_it_lt">
                    <b class="right"></b>
                    <h2>手机验证</h2>
                    <span>您验证的手机：183****5433</span>
                </div>
                <div class="acsf_it_rg">
                    <a routerLink="/personal/security/phone">修改</a>
                </div>
            </div>
            <div class="acct_safe_item">
                <div class="acsf_it_lt">
                    <b class="wrong"></b>
                    <h2>支付密码</h2>
                    <span>您还未设置支付密码，以保证您能在平台进行正常交易</span>
                </div>
                <div class="acsf_it_rg">
                    <a class="red">去设置</a>
                </div>
            </div>
            <div class="acct_safe_item">
                <div class="acsf_it_lt">
                    <b class="wrong"></b>
                    <h2>银行卡绑定</h2>
                <span>请绑定您的银
                    行卡，以保证您能在平台进行正常交易。</span>
                </div>
                <div class="acsf_it_rg">
                    <a class="red" routerLink="/personal/security/bankcard">去设置</a>
                </div>
            </div>
        </div>
        <div class="acct_safe_list">
            <div class="acct_safe_item">
                <div class="acsf_it_lt">
                    <b class="trilateral"></b>
                    <h2>第三方绑定</h2>
                    <span>您可以使用绑定的第三方应用进行帐号登录以及平台交易。</span>
                </div>
                <div class="acsf_it_rg">
                    <a>查看</a>
                </div>
            </div>
            <div class="acct_safe_item">
                <div class="acsf_it_lt">
                    <b class="complain"></b>
                    <h2>帐号申诉</h2>
                    <span>通过填写个人资料，可找回密码，修改支付密码，修改绑定手机号。</span>
                </div>
                <div class="acsf_it_rg">
                    <a>立即申诉</a>
                </div>
            </div>
        </div>

    </div>
</div>