<div class="per_subclass">
    <h2 class="perrg_b_tit flex">
        <span>银行卡绑定</span>
    </h2>
    <div class="logpass_tip">
        添加银行卡您将获得：<br />
        •  账户安全等级提高，修改支付密码、手机认证时有效保护账户安全；<br />
        •  商城交易时无需再繁琐添加卡信息，直接选择该卡验证消费即可；<br />
        •  提现时无需再繁琐添加卡信息，直接选择提现到该卡即可。
    </div>
    <div class="mul_iplist">
        <ul>
            <li>
                <span>真实姓名</span>
                无崖子
            </li>
            <li>
                <span>身份证号</span>
                3303***********1234
            </li>
            <li>
                <span>银行卡号</span>
                <input type="text"/>
            </li>
            <li>
                <span>手机号码</span>
                <input type="text" placeholder="请输入该卡在银行预留的手机号码"/>
            </li>
            <li>
            <li class="verif_code add_card_code ">
                <span>验证码</span>
                <input type="text"/>
                <a>获取验证码</a>

            <br />
            </li>
            <li class="pay_agree">
                <span></span>
                《EE979用户支付协议》
            </li>
            <li>
                <span></span>
                <button class="per_btn">
                    确认修改
                </button>
            </li>
        </ul>

    </div>
</div>